#root {
  max-width: 50em;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: blueviolet;
  border-radius: 1em;
}
.mainDiv {
  background-color: rgb(180, 130, 228);
  border-radius: 1em;
  padding: 2em;
}
.addTask {
  display: inline-flex;
  width: 100%;
  padding-bottom: 1em;
}
.toDoList {
  display: grid;
}
.itemTask {
  display: flex;
  padding-bottom: 0.5em;
  background-color: rgb(180, 130, 228);
}

.itemTask Button:first-child {
  flex: 0 0 80%;
  border-radius: 0%;
}

.itemTask Button:nth-child(2),
.itemTask Button:nth-child(3) {
  flex: 0 0 10%;
  border-radius: 0%;
}
.itemUpdate {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}
.itemUpdate Input:first-child {
  flex: 0 0 80%;
  border-radius: 0%;
}
.itemUpdate Button:nth-child(2) {
  flex: 0 0 20%;
  border-radius: 0%;
}
